name: CI
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  release:
    types:
      - created
  paths-ignore:
    - 'LICENSE.md'
    - 'README.md'
    - '.github/ISSUE_TEMPLATE'
    - '.github/CODE_OF_CONDUCT.md'
    - '.github/CONTRIBUTING.md'
    - '.github/pull_request_template.md'
    - '.github/SECURITY.md'
    - '.github/SUPPORT.md'
    - '.github/CompatHelper.yml'

jobs:
  ci:
    services:
      selenium: 
        image: selenium/standalone-chrome
        ports:
        - 4444/tcp
        options: --health-cmd '/opt/bin/check-grid.sh'
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        julia-version: [1.3.0]
        julia-arch: [x64]
        os: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v1.0.0
      - uses: julia-actions/setup-julia@latest
        with:
          version: ${{ matrix.julia-version }}
      - uses: julia-actions/julia-buildpkg@latest
      - uses: julia-actions/julia-runtest@latest
        env:
          WEBDRIVER_HOST: localhost
          WEBDRIVER_PORT: ${{ job.services.selenium.ports[4444] }}
      - uses: julia-actions/julia-uploadcodecov@latest
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      - uses: julia-actions/julia-docdeploy@releases/v1
        env:
          WEBDRIVER_HOST: localhost
          WEBDRIVER_PORT: ${{ job.services.selenium.ports[4444] }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }}
